{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'home/signin.css' %}" rel="stylesheet">

    <title>Home</title>
</head>

<body class="text-center">
    <form class="form-signin">
        <h1 class="h1 mb-3 font-weight-normal">Welcome!</h1>
        <img class="mb-4" src="https://www.flaticon.com/svg/static/icons/svg/2909/2909865.svg" alt="" width="72"
            height="144">

        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>


</body>

</html>